// Colors (Qwant V4)
$color-transparent: transparent;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #353c52;
$color-blue-grey: #5c6f84;
$color-silver: #c2c4ce;
$color-grey: #c8cbd3;
$color-light-grey: #e0e1e6;
$color-cloud: #f4f6fa;
$color-cyan: #4ebbc2;
$color-blue: #3394d2;
$color-green: #40ac6b;
$color-yellow: #f6d333;
$color-orange: #f08135;
$color-red: #e53b5b;
$color-purple: #6f559f;
$color-mint: #2f7f4f;
$color-dark-grey: #202639;
$color-pale-grey: #dddfe5;
$color-url: #123295;
$color-url--visited: #662FB4;