/** On "All" view **/

.ia__encryption {
  padding: 30px 32px 40px;
  background: #F8F9FA;
  border-top: 1px solid rgba(122,124,126,0.16);

  .ia__encryption__icon {
    margin-right: 10px;
    vertical-align: top;
    font-size: 65px;
  }

  .ia__encryption__result {
    display: inline-block;
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
    margin: 10px 0;
    vertical-align: top;
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 1.87em;
    letter-spacing: -0.035em;
    line-height: 45px;
    word-wrap: break-word;
  }

  .ia__encryption__description {
    margin-left: 9px;
    font-family: 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    letter-spacing: -0.018em;
    font-size: 1.03em;
    color: rgba(122, 124, 126,0.95);

    .ia__encryption__description--query {
      color: rgba(46, 52, 58,0.95);
      font-weight: 600;
    }
  }
}

/** Web view **/

.ia_container-web_desktop {
  .ia__encryption {
    padding: 10px 0 25px 10px;
    background: #f8f9fa;
    border-top: none;
  }
}

/** Tablet **/

@media (max-width: 1000px) {
  .ia__encryption {
    padding: 20px;
    background: #F8F9FA;
    border: 0;

    .ia__encryption__icon {
      font-size: 58px;
      vertical-align: middle;
    }

    .ia__encryption__result {
      line-height: 29px;
      font-size :  1.5em;
      vertical-align: middle;
      width: -webkit-calc(100% - 100px);
      width: -moz-calc(100% - 100px);
      width: calc(100% - 100px);
    }
  }
}

/** Mobile **/
@media (max-width: 640px) {

  .ia_container-web_desktop {
    .ia__encryption {
      padding: 10px 20px 20px 25px;
    }
  }

  .ia__encryption {
    margin: 5px;
    background: #fff;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.04);
    border-color: rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.11);
    border-width: 1px;
    border-style: solid;
  }
}

/** A/B TESTING #QWANT-1201 **/
@media (min-width : 1160px) {
  body.testGroupPer--30 .ia_container-web_desktop .ia__encryption,
  body.testGroupPer--60 .ia_container-web_desktop .ia__encryption,
  body.testGroupPer--70 .ia_container-web_desktop .ia__encryption,
  body.testGroupPer--80 .ia_container-web_desktop .ia__encryption,
  body.testGroupPer--90 .ia_container-web_desktop .ia__encryption {
    background: none;
  }
}