/**
* This is your main SCSS file. Please refer to the documentation for more information.
*/

.ia__lyrics h3 {
  font-family: "Asap",sans-serif;
  color: #353c52;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px 0 5px 15px;
  border: none;
  padding: 0;
}

.ia__lyrics h4 {
  font-family: "Asap",sans-serif;
  color: #353c52;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  font-weight: 400;
  margin: 0 15px;
  border-bottom: 1px solid rgb(224, 225, 230);
  padding-bottom: 10px;
}

.ia__lyrics_body {
  color: #353c52;
  white-space: pre;
  padding: 15px 15px 0 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.1px;
  transition: height ease 500ms;
  box-sizing: border-box;
}

.ia__lyrics_copyright {
  color: #353c52;
  font-size: 13px;
  padding: 15px;
}

.ia__lyrics_show_more {
  display: none;
  padding: 15px 15px 0 15px;
  color: #123295;
  cursor: pointer;
}

.ia__lyrics_show_more:hover {
  text-decoration: underline;
}
