.ia__europeenne_container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
         img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%
        }
}
.ia__europeenne_signature_sentimantic {
        p {
                text-align: right;
        }
}