/**
* This is your main CSS file. Please refer to the documentation for more information.
*/
*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: baseline;
    line-height: inherit;
    font-weight: normal;
}
.ia_Capital
{
    background-color: #22292C;
    width: 100%;
    float: left;
    height: 200px;
    margin-bottom: 20px;

}
.Cap_Title
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #393b3d;
    -webkit-box-flex: none;
    -webkit-flex: none;
    -moz-box-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    position: relative;
    width: 35%;
    padding: 20px 20px 20px 25px;
    float:left;
    background-color: #F8F9FA;
    height:100%;
    text-end-overflow: ellipsis;

}
.Cap_Title a
{
    text-decoration: none;
    font-size: 14px;
    color:#393b3d;
}
.Cap_descritpion
{
    margin: 12px 0;
    max-height: 84px;
    overflow: hidden;
    line-height: 21px;
    font-size: 14px;
    color: rgba(52,54,56,0.86);
}
.Country_Title
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 1.1vw;
    color: #969696;
}
.Cap_Data_pop
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 0.8vw;
    color: #969696;
    font-weight: bold;
    float: left;
    width:18%;
    height: 100%;
    text-align: center;
    padding-top: 60px;
}
.Cap_Data_sup
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 0.8vw;
    color: #969696;
    float: left;
    height: 100%;
    width:18%;
    font-weight: bold;

    text-align: center;
    padding-top: 60px;
}
.Cap_Container
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 0.8vw;
    color: #3b3b3b;
    float: right;
    height: 100%;
    width:13%;
    font-weight: bold;

    text-align: center;
}
.Count_Number_pop
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 25px;
    color: #969696;
    margin-top: 15px;

}
.Count_Number_sup
{
    font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 25px;
    color: #969696;
    margin-top: 15px;
}
.Cap_img
{
    float:left;
}
.Cap_img img
{
    height:200px;
    width:300px;
    float: left;
}
#Count_Number
{
    text-align: center;
    font-size: 35px;
}