
.ia__anagram__body {
    background : #F2F2F2;
    width: 100%;
    height: 200px;
    padding: 0 25px;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

.ia__anagram__content {
    padding-top: 10px;
}