/** On "All" view **/

.ia__unit_converter {
	padding: 44px 0 0 42px;
	background: white;
	border-top: 1px solid rgba(122,124,126,0.16);
}

.ia__unit_family {
    margin-bottom: 20px;
	font-family: Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
	font-size: 1.15em;
	letter-spacing: -0.035em;
    color: rgba(122,124,126,0.86);
}

.ia__unit_converter--container {
    display: inline-block;
}

.ia__unit_converter__query--number, .ia__unit_converter__result--number {
	font-size: 1.95em;
	color: rgb(24,36,48);
}

.ia__unit_converter__query--value, .ia__unit_converter__result--value {
    color: rgba(50, 50, 50, 0.65);
    font-family: 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size: 1.35em;
    letter-spacing: -0.016em;
}

.ia__unit_converter__icon--container {
    display: inline-block;
    height: 86px;
    font-size: 75px;
    margin: 0 20px;
    vertical-align: middle;
}

.ia__unit_converter__icon {
    display: inline-block;
}

.ia__unit_converter__icon:nth-of-type(1) {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/** On "Web" view + horizontal **/

.ia_container--horizontal .ia__unit_converter {
    padding: 15px 0 0 44px;
	border: none;
}

.ia_container--horizontal .ia__unit_converter__query--value, .ia_container--horizontal .ia__unit_converter__result--value {
    font-size: 22px;
}

.ia_container--horizontal .ia__unit_converter__icon--container {
    height: 64px;
    font-size: 58px;
    margin: 0 12px;
}

/** Tablet **/

@media (max-width: 1000px) {
    .ia__unit_converter {
        padding: 15px 20px 0px 10px;
        background: none;
        border: 0;
    }

    .ia__unit_family {
        margin-bottom: 10px;
    }

    .ia__unit_converter__icon--container {
        height: 75px;
        margin: 0;
        font-size: 65px;
    }

    .ia__unit_converter__icon {
        margin: 0 -10px 0 -10px;
    }

    .ia__unit_converter__query--number, .ia__unit_converter__result--number {
        font-size: 1.8em;
    }

    .ia__unit_converter--big-numbers_mobile .ia__unit_converter--container {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 45px;
    }

    .ia__unit_converter--big-numbers_mobile .ia__unit_converter--container .ia__unit_family {
        margin-bottom: 0;
    }

    .ia__unit_converter--big-numbers_mobile .ia__unit_converter__icon--container {
        position: absolute;
        -webkit-transform : rotate(90deg);
        -moz-transform    : rotate(90deg);
        -ms-transform     : rotate(90deg);
        -o-transform      : rotate(90deg);
        transform         : rotate(90deg);
        top: 34px;
        left: -10px;
    }
}

/** Mobile **/

@media (max-width: 640px) {
    .ia__unit_converter {
        padding: 10px 20px 0 30px
    }

    .ia_container--horizontal .ia__unit_converter {
        padding: 20px 0 0 32px;
    }
}
