.ia__brainfuck {
    padding: 10px 25px;

    > h1 {
        font-size: 28px;
        font-weight: bold;
        color: #353c52;
        margin: 0 0 5px 0;
    }

    > xmp {
        border: solid 1px #eaeaea;
        padding: 5px 10px;
    }
}