/** On "All" view **/
.ia__calculator {
    padding    : 30px 30px 30px 42px;
    background : #F8F9FA;
    border-top : 1px solid rgba(122, 124, 126, 0.16);

    .ia__calculator__icon {
        display        : inline-block;
        vertical-align : middle;
        margin-right   : 40px;
        font-size      : 2.9em;
    }

    .ia__calculator__container {
        display        : inline-block;
        width          : -webkit-calc(100% - 110px);
        width          : -moz-calc(100% - 110px);
        width          : calc(100% - 110px);
        margin         : 14px 0;
        vertical-align : middle;
        word-wrap      : break-word;

        .ia__calculator__query, .ia__calculator__result {
            font-size      : 2.9em;
            font-family    : 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
            letter-spacing : -0.02em;
        }

        .ia__calculator__operator {
            font-size   : 2.58em;
            margin-left : 3px;
            color       : rgba(92, 96, 102, 0.85);
        }
    }
}

/** Web view **/
.ia_container-web_desktop {
    background : #F8F9FA;
    padding    : 10px 0;

    .ia__calculator {
        padding    : 0 0 0 20px;
        background : #F8F9FA;
        border-top : none;
        height     : auto;
    }
}

/** Tablet **/
@media (max-width : 1000px) {
    .ia__calculator {
        padding    : 20px 20px 20px 30px;
        background : #F8F9FA;
        border     : 0;

        .ia__calculator__icon {
            margin-right : 21px;
            font-size    : 2.7em;
        }

        .ia__calculator__container {
            width : -webkit-calc(100% - 100px);
            width : -moz-calc(100% - 100px);
            width : calc(100% - 100px);

            .ia__calculator__query {
                font-size : 1.7em;
                word-wrap : normal;
            }

            .ia__calculator__operator {
                font-size : 1.5em;
            }

            .ia__calculator__result {
                display   : inline-block;
                max-width : 100%;
                font-size : 1.7em;
            }
        }
    }
}

/** Mobile **/
@media (max-width : 640px) {
    .ia__calculator {
        padding      : 10px 20px;
        margin       : 5px;
        background   : #FFF;
        box-shadow   : 0px 3px 7px rgba(0, 0, 0, 0.04);
        border-color : rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.11);
        border-width : 1px;
        border-style : solid;
    }
}

/** A/B TESTING #QWANT-1201 **/
@media (min-width : 1160px) {
    .ia_container-web_desktop .ia__calculator {
        background   : none;
        padding-left : 20px;
    }
}