/**
 * This is your main CSS file. Please refer to the documentation for more information.
 */
.container {
    display: block;
    width: 100%;
    min-height: 280px;
}

.dokutable {
    margin: 20px;
    border-collapse: collapse;
    font-family: 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif, Calibri, sans-serif;
    font-size: 16px;
    font-style: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.dokutable colgroup, tbody { 
    border: solid medium;
}

table.dokutable td {
    border: solid thin black;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}

table.dokutable td.empty:hover {
    cursor: pointer;
}

table.dokutable td.number:hover {
    cursor: default; 
}

.grid {
    width: 250px;
    float: left;
}

.control {
    width: 200px;
    float: left;
    text-align: left;
}

.icon {
    display: none;
}

.instructions {
    font-weight: bold;
    border-bottom: 2px solid #444444;
    margin-bottom: 10px;
}

#dokustatus {
    width: 100%;
    background-color: #DDDDDD;
    text-align: center;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.dokubutton {
    text-align: center;
    width: 100%;
}

.dokubutton button:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .grid {
        float: none;
    }
    .control {
        float: none;
        text-align: center;
        width: 250px;
        padding: 10px;
    }
}

.testbutton {
    font-family: arial;
    color: #6A6A6A !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #DEDEDE;
    box-shadow: 1px 1px 1px #F9F9F9;
    padding: 6px 14px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 8px;
    border: 2px solid #A3A3A3;
    background: #EEEEEE;
    background: linear-gradient(top,  #EEEEEE,  #CFCFCF);
    background: -ms-linear-gradient(top,  #EEEEEE,  #CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CFCFCF));
    background: -moz-linear-gradient(top,  #EEEEEE,  #CFCFCF);
}
.testbutton:hover {
    color: #6A6A6A !important;
    background: #CFCFCF;
    background: linear-gradient(top,  #CFCFCF,  #EEEEEE);
    background: -ms-linear-gradient(top,  #CFCFCF,  #EEEEEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#EEEEEE));
    background: -moz-linear-gradient(top,  #CFCFCF,  #EEEEEE);
}
