/** On "All" view **/

.ia__currency_converter {
  padding: 35px 0 35px 42px;
  border-top: 1px solid rgba(122,124,126,0.16);
  font-family: "Segoe UI", "Helvetica", "Droid Sans", Arial, sans-serif;
  background: #F8F9FA;

  .ia__currency_converter__icon {
    float: left;
    font-size: 54px;
  }

  .ia__currency_converter__clear {
    clear: both;
  }

  .ia__currency_converter--main {
    margin-left: 10px;
    margin-right: 150px;
    float: left;

    .ia__currency_converter__from {
      font-size: 18px;
      color: #777;
    }

    .ia__currency_converter__result {
      font-size: 32px;
      margin-top: -5px;
      margin-left: -3px;

      .ia__currency_converter__result--label {
        font-size: 18px;
      }
    }
  }

  .ia__currency_converter--last_update {
    margin-top: 20px;
    font-size: 12px;
    color: #777;

    a {
      color: #777;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ia__currency_converter--last_update--nomobile{
    display: block;
  }

  .ia__currency_converter .ia__currency_converter--last_update--mobile{
    display: none;
  }

  .ia__currency_converter--others {
    float: left;
    color: #777;
    font-size: 14px;

    .ia__currency_converter--others_lines {
      max-height: 37px;
      margin-top: 5px;
      overflow-y: hidden;
      -webkit-transition: all .5s cubic-bezier(0, 1, 0, 1);
      -moz-transition: all .5s cubic-bezier(0, 1, 0, 1);
      -o-transition: all .5s cubic-bezier(0, 1, 0, 1);
      -ms-transition: all .5s cubic-bezier(0, 1, 0, 1);
      transition: all .5s cubic-bezier(0, 1, 0, 1);

      &.others_lines_expanded {
        max-height: 800px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
    }

    .ia__currency_converter--others__see_more {
      cursor: pointer;
      display: inline-block;
      margin-top: 20px;
      font-size: 12px;
    }
  }
}

/** Mobile **/

@media (max-width: 640px) {

  .ia__currency_converter {
    padding: 10px;
    margin: 5px;
    background: #fff;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.04);
    border-color: rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.11);
    border-width: 1px;
    border-style: solid;

    .ia__currency_converter--main {
      margin: 0 10px;
      float: none;
    }

    .ia__currency_converter--others {
      margin: 10px;
      float: none;
    }

    .ia__currency_converter--last_update--nomobile{
      display: none;
    }

    .ia__currency_converter--last_update--mobile{
      display: block;
    }

    .ia__currency_converter--last_update {
      margin-right: 10px;
      margin-top: 0;
      text-align: right;
    }
  }
}

.ia_container-web_desktop {
  .ia__currency_converter {
    .ia__currency_converter--main {
      float: none;
    }

    .ia__currency_converter--last_update {
      margin-right: 42px;
      text-align: right;
    }

    .ia__currency_converter--last_update--nomobile {
      display: none;
    }

    .ia__currency_converter--last_update--mobile{
      display: block;
    }

    .ia__currency_converter--others {
      margin-top: 10px;
      float: none;
    }
  }
}

/** A/B TESTING #QWANT-1199 **/
@media (min-width : 641px) and (max-width : 1500px) {
  .ia__currency_converter {
    .ia__currency_converter--last_update--nomobile{
      display: none;
    }

    .ia__currency_converter--last_update--mobile{
      display: block;
    }

    .ia__currency_converter--last_update {
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: -20px;
      text-align: right;
    }
  }
}

/** A/B TESTING #QWANT-1201 **/
@media (min-width : 1160px) {
  body.testGroupPer--30 .ia_container-web_desktop .ia__currency_converter,
  body.testGroupPer--60 .ia_container-web_desktop .ia__currency_converter,
  body.testGroupPer--70 .ia_container-web_desktop .ia__currency_converter,
  body.testGroupPer--80 .ia_container-web_desktop .ia__currency_converter,
  body.testGroupPer--90 .ia_container-web_desktop .ia__currency_converter {
    background: none;
  }
}