/** On "All" view **/

.ia__unit_converter {
    padding    : 30px 0 30px 42px;
    border-top : 1px solid rgba(122, 124, 126, 0.16);
    position   : relative;
    background : #F8F9FA;

    .ia__unit_converter--container {
        display : inline-block;

        .ia__unit_family {
            margin-bottom  : 20px;
            font-family    : Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
            font-size      : 1.15em;
            letter-spacing : -0.035em;
            color          : rgba(122, 124, 126, 0.86);
        }
    }

    .ia__unit_converter__query--number,
    .ia__unit_converter__result--number {
        font-size : 1.95em;
        color     : rgb(24, 36, 48);
    }

    .ia__unit_converter__query--value,
    .ia__unit_converter__result--value {
        color          : rgba(50, 50, 50, 0.65);
        font-family    : 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
        font-size      : 1.35em;
        letter-spacing : -0.016em;
    }

    .ia__unit_converter__icon--container {
        display   : inline-block;
        font-size : 1.55em;
        margin    : 0 20px;

        .ia__unit_converter__icon {
            display : inline-block;
        }

        .ia__unit_converter__icon:not(:first-child) {
            margin-left : 20px;
        }
    }
}

/** Tablet **/
@media (max-width : 1000px) {
    .ia__unit_converter {
        padding    : 30px 20px 30px 20px;
        background : #F8F9FA;
        border     : 0;

        .ia__unit_converter--container {
            .ia__unit_family {
                margin-bottom : 10px;
            }

        }
    }

    .ia__unit_converter__icon--container {
        margin    : 0;
        font-size : 65px;

        .ia__unit_converter__icon {
            margin : 0 -10px 0 -10px;
        }

        .ia__unit_converter__query--number, .ia__unit_converter__result--number {
            font-size : 1.8em;
        }
    }

    .ia__unit_converter--big-numbers_mobile {
        .ia__unit_converter--container {
            display       : inline-block;
            width         : 100%;
            margin-bottom : 10px;
            margin-left   : 45px;
            .ia__unit_family {
                margin-bottom : 0;
            }
        }

        .ia__unit_converter__icon--container {
            position          : absolute;
            -webkit-transform : rotate(90deg);
            -moz-transform    : rotate(90deg);
            -ms-transform     : rotate(90deg);
            -o-transform      : rotate(90deg);
            transform         : rotate(90deg);
            top               : 34px;
            left              : -10px;
        }
    }
}

/** Mobile **/
@media (max-width : 640px) {

    .ia__unit_converter {
        padding       : 20px 0 20px 18px;
        margin        : 5px;
        background    : #FFF;
        box-shadow    : 0px 3px 7px rgba(0, 0, 0, 0.04);
        border-color  : rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.11);
        border-width  : 1px;
        border-style  : solid;
        margin-bottom : 22px;
    }
}

/** Web view **/
.ia_container-web_desktop .ia__unit_converter {
    padding    : 20px 0px 20px 20px;
    background : #F8F9FA;
    border-top : none;
}

/** A/B TESTING #QWANT-1201 **/
@media (min-width : 1160px) {
    .ia_container-web_desktop .ia__unit_converter {
        background: none;
        padding-bottom : 20px;}
}
