.ia__timer {
  padding: 20px;
}

.ia__timer__icon {
  font-size: 60px;
  float: left;
}

.ia__timer__display {
  display: inline-block;
  margin-left: 20px;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
}