#ia-weather-forecast-nav-pic--right,
#ia-weather-forecast-nav-pic--left,
.ia-weather-column-meta--item--pic,
.ia-weather-pic--forecast,
.ia-weather-pic--snapshot,
.ia-weather-pic--main {
    background : url("{{= it.images_path }}/weather/weather-x1.png?20170329");
}

@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min--moz-device-pixel-ratio : 2), only screen and (-o-min-device-pixel-ratio : 2/1), only screen and (min-device-pixel-ratio : 2), only screen and (min-resolution : 192dpi), only screen and (min-resolution : 2dppx) {

    #ia-weather-forecast-nav-pic--right,
    #ia-weather-forecast-nav-pic--left,
    .ia-weather-column-meta--item--pic,
    .ia-weather-pic--forecast,
    .ia-weather-pic--snapshot,
    .ia-weather-pic--main {
        background      : url("{{= it.images_path }}/weather/weather-x2.png?20170329");
        background-size : 644px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio : 4), only screen and (min--moz-device-pixel-ratio : 4), only screen and (-o-min-device-pixel-ratio : 4/1), only screen and (min-device-pixel-ratio : 4), only screen and (min-resolution : 384dpi), only screen and (min-resolution : 4dppx) {

    #ia-weather-forecast-nav-pic--right,
    #ia-weather-forecast-nav-pic--left,
    .ia-weather-column-meta--item--pic,
    .ia-weather-pic--forecast,
    .ia-weather-pic--snapshot,
    .ia-weather-pic--main {
        background      : url("{{= it.images_path }}/weather/weather-x4.png?20170329");
        background-size : 644px;
    }
}

#ia-weather-forecast-five-container-cross-fade-helper-0 {
    opacity : 1;
}

#ia-weather-forecast-five.ia-weather-forecast-five--01,
.ia-weather-forecast-five-container-cross-fade-helper--01 {
    background : url("{{= it.images_path }}/weather/weather-shiny.jpg?20170329") no-repeat center top;
}

#ia-weather-forecast-five.ia-weather-forecast-five--02,
.ia-weather-forecast-five-container-cross-fade-helper--02,
#ia-weather-forecast-five.ia-weather-forecast-five--03,
.ia-weather-forecast-five-container-cross-fade-helper--03 {
    background : url("{{= it.images_path }}/weather/weather-cloudy.jpg?20170329") no-repeat center top;
}

#ia-weather-forecast-five.ia-weather-forecast-five--04,
.ia-weather-forecast-five-container-cross-fade-helper--04,
#ia-weather-forecast-five.ia-weather-forecast-five--50,
.ia-weather-forecast-five-container-cross-fade-helper--50 {
    background : url("{{= it.images_path }}/weather/weather-cloudy2.jpg?20170329") no-repeat center top;
}

#ia-weather-forecast-five.ia-weather-forecast-five--13,
.ia-weather-forecast-five-container-cross-fade-helper--13 {
    background : url("{{= it.images_path }}/weather/weather-snowy.jpg?20170329") no-repeat center top;
}

#ia-weather-forecast-five.ia-weather-forecast-five--09,
.ia-weather-forecast-five-container-cross-fade-helper--09,
#ia-weather-forecast-five.ia-weather-forecast-five--10,
.ia-weather-forecast-five-container-cross-fade-helper--10 {
    background : url("{{= it.images_path }}/weather/weather-rainy.jpg?20170329") no-repeat center top;
}

#ia-weather-forecast-five.ia-weather-forecast-five--11,
.ia-weather-forecast-five-container-cross-fade-helper--11 {
    background : url("{{= it.images_path }}/weather/weather-stormy.jpg?20170329") no-repeat center top;
}

@media (min-width : 1750px) {
    .ia-weather-current-container #ia-weather-forecast-five {
        background-size : 100%;
    }
}

.ia-weather-pic--main {
    width  : 92px;
    height : 92px;
    margin : 6px 0 0;
}

#ia-weather {
    font-family : sans-serif;
}

.ia-weather-forecast-container {
    user-select         : none;
    -moz-user-select    : none;
    -webkit-user-select : none;
    margin-top          : 12px;
    text-align          : center;
    float               : left;
    width               : 150px;
    height              : 200px;
    color               : #FFF;
}

.ia-weather-forecast-container--today, .ia-weather-forecast-container--forecast {
    font-family    : Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-weight    : 600;
    font-size      : 1.025em;
    letter-spacing : 0.025em;
}

.ia-weather-forecast-container--forecast {
    font-weight    : 400;
    letter-spacing : 0.005em;
    color          : rgba(255, 255, 255, 0.8);
}

.ia-weather-localisation {
    font-family    : Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    font-size      : 1.71em;
    letter-spacing : -0.025em;
    color          : #334;
    margin-top     : 17px;
    line-height    : 26px;
    white-space    : nowrap;
    text-overflow  : ellipsis;
    overflow       : hidden;
}

.ia-weather-date-day {
    font-family    : Calibri, Candara, 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    margin         : 2px 0 10px 0;
    font-size      : 1.18em;
    letter-spacing : -0.01em;
    color          : #778;
    white-space    : nowrap;
    overflow       : hidden;
    text-overflow  : ellipsis;
}

.ia-weather-status {
    position       : absolute;
    top            : 47px;
    left           : 260px;
    font-weight    : 600;
    text-transform : uppercase;
    font-size      : 1.1em;
    color          : rgba(16, 28, 36, 0.92);
}

.ia-weather-date {
    margin : 2px 0 0 0;
    color  : rgba(122, 128, 134, 0.92);
}

.ia-weather-temperature--primary {
    font-size : 3.28em;
    color     : #334;
}

.ia-weather-temperature--primary .ia-weather-temperature--unit {
    font-size : 0.5em;
    position  : relative;
    top       : -17px;
}

.ia-weather-forecast-temperature--max .ia-weather-temperature--unit {
    position  : relative;
    font-size : 0.65em;
    top       : -6px;
}

.ia-weather-temperature--secondary {
    color  : rgba(154, 156, 158, 0.8);
    margin : -2px 0 2px 0;
}

.ia-weather-current-container {
    background : #F8F9FA;
}

.ia-weather-current {
    float    : left;
    width    : 450px;
    height   : 200px;
    position : relative;
    padding  : 12px 0 0 0;

}

.ia-weather-current-container, #ia-weather-forecast-five {
    position      : relative;
    width         : 100%;
    height        : 200px;
}

.ia-weather-forecast-temperature {
    margin-top : 55px;
}

.ia-weather-forecast-temperature--max {
    font-size     : 1.45em;
    margin-bottom : 3px;
}

.ia-weather-forecast-temperature--min {
    color     : rgba(255, 255, 255, 0.8);
    font-size : 0.9em;
}

#ia-weather-forecast-five {
    position   : relative;
    background : #3395DC;
    width      : -webkit-calc(100% - 450px);
    width      : -moz-calc(100% - 450px);
    width      : calc(100% - 450px);
    overflow   : hidden;
}

#ia-weather-temperature-chart {
    -moz-user-select    : none;
    -webkit-user-select : none;
    width               : 880px;
    height              : 120px;
    position            : absolute;
    left                : 0;
    margin-top          : 90px;
}

.ia-weather-column-meta--item {
    display      : inline-block;
    width        : 50%;
    margin-top   : 2px;
    padding-left : 2px;
    overflow     : hidden;
    line-height  : 34px;
    height       : 30px;
    color        : #778;
}

.ia-weather-column-meta--item:nth-of-type(3) {
    margin-top : 6px;
}

.ia-weather-wind--pic {
    background-position : -308px -92px;
}

.ia-weather-humidity--pic {
    background-position : -340px -92px;
}

.ia-weather-rain--pic {
    background-position : -308px -124px;
}

.ia-weather-pressure--pic {
    background-position : -340px -124px;
}

.ia-weather-pressure .ia-weather-column-meta--item--value {
    width : 83px;
}

.ia-weather-column-meta--item--pic {
    width     : 32px;
    height    : 32px;
    float     : left;
    transform : scale(0.75) translateX(7px);
}

.ia-weather-column-meta--item--value {
    float  : left;
    margin : 0 0 0 8px;
}

.ia-weather-column-temp {
    float : left;
}

.ia-weather-column-meta {
    float       : left;
    width       : 250px;
    margin-left : 5px;
}

.ia-weather--back-link-container {
    font-family : 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    color       : #999;
    font-size   : 0.8em;
    clear       : both;
    margin-left : 93px;
    padding-top : 8px;
}

.ia-weather--back-link-container--link {
    display         : inline-block;
    width           : 60px;
    height          : 9px;
    margin-left     : 4px;
    background      : url("{{= it.images_path }}/weather/netatmo.png?20170329");
    background-size : cover;
    cursor          : pointer;
}

@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min--moz-device-pixel-ratio : 2), only screen and (-o-min-device-pixel-ratio : 2/1), only screen and (min-device-pixel-ratio : 2), only screen and (min-resolution : 192dpi), only screen and (min-resolution : 2dppx) {

    .ia-weather--back-link-container--link {
        background      : url("{{= it.images_path }}/weather/netatmo-x2.png?20170329");
        background-size : cover;
    }
}

.ia-weather--back-link--container {
    position    : absolute;
    bottom      : 5px;
    right       : 5px;
    font-family : 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    color       : white;
    font-size   : 0.8em;
    font-weight : bold;
}

.ia-weather--back-link {
    color       : white;
    font-weight : bold;
}

.ia-weather--back-link:hover {
    text-decoration : underline;
}

.ia-weather-pic-01 {
    background-position : 0 -92px;
}

.ia-weather-pic-02 {
    background-position : -44px -92px;
}

.ia-weather-pic-03 {
    background-position : -44px -92px;
}

.ia-weather-pic-04 {
    background-position : -132px -92px;
}

.ia-weather-pic-09 {
    background-position : -88px -92px;
}

.ia-weather-pic-10 {
    background-position : -88px -92px;
}

.ia-weather-pic-11 {
    background-position : -176px -92px;
}

.ia-weather-pic-13 {
    background-position : -220px -92px;
}

.ia-weather-pic-50 {
    background-position : -264px -92px;
}

.ia-weather-pic--main.ia-weather-pic-01 {
    background-position : 0 0;
}

.ia-weather-pic--main.ia-weather-pic-02 {
    background-position : -92px 0;
}

.ia-weather-pic--main.ia-weather-pic-03 {
    background-position : -92px 0;
}

.ia-weather-pic--main.ia-weather-pic-04 {
    background-position : -276px 0;
}

.ia-weather-pic--main.ia-weather-pic-09 {
    background-position : -184px 0;
}

.ia-weather-pic--main.ia-weather-pic-10 {
    background-position : -184px 0;
}

.ia-weather-pic--main.ia-weather-pic-11 {
    background-position : -368px 0
}

.ia-weather-pic--main.ia-weather-pic-13 {
    background-position : -460px 0;
}

.ia-weather-pic--main.ia-weather-pic-50 {
    background-position : -552px 0;
}

.ia-weather-pic--main.ia-weather-pic-none {
    background-position : -368px 92px;
}

.ia-weather-pic--snapshot.ia-weather-pic-01 {
    background-position : 0 -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-02 {
    background-position : -44px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-03 {
    background-position : -44px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-04 {
    background-position : -132px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-09 {
    background-position : -88px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-10 {
    background-position : -88px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-11 {
    background-position : -176px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-13 {
    background-position : -220px -136px;
}

.ia-weather-pic--snapshot.ia-weather-pic-50 {
    background-position : -264px -136px;
}

.ia-weather-pic--main {
    width             : 92px;
    float             : left;
    height            : 92px;
    -webkit-transform : scale(0.8);
    -moz-transform    : scale(0.8);
    -ms-transform     : scale(0.8);
    -o-transform      : scale(0.8);
    transform         : scale(0.8);
    margin-bottom     : 40px;
    margin-top        : -4px;
}

.ia_container-web_desktop .ia-weather-pic--main {
    margin-top : -22px;
}

.ia-weather-pic--forecast {
    margin            : 8px auto 0;
    width             : 45px;
    height            : 40px;
    background-repeat : no-repeat;
}

/* week snapshot table */

.ia-weather-forecast-five-snapshot {
    border-spacing  : 0;
    border-collapse : collapse;
    width           : 300px;
    display         : none;
}

.ia-weather-forecast-five-snapshot--odd {
    background    : #F9FAFB;
    background    : -moz-linear-gradient(top, #F9FAFB 0%, #FFF 100%);
    background    : -webkit-linear-gradient(top, #F9FAFB 0%, #FFF 100%);
    background    : linear-gradient(to top, #F9FAFB 0%, #FFF 100%);
    border-bottom : 1px solid rgb(246, 247, 248);
}

.ia-weather-forecast-five-snapshot td {
    height         : 70px;
    vertical-align : middle;
}

.ia-weather-pic--snapshot {
    width  : 44px;
    height : 44px;
}

.ia-weather-forecast-five-snapshot-day {
    padding-left : 8px;
    color        : rgb(32, 36, 38);
    width        : 40px;
}

.ia-weather-forecast-five-snapshot-status {
    font-family    : 'Segoe UI', 'Helvetica', 'Droid Sans', Arial, sans-serif;
    text-align     : right;
    padding-right  : 10px;
    padding-left   : 15px;
    font-size      : 1.06em;
    letter-spacing : -0.025em;
    font-weight    : 600;
    color          : rgba(46, 52, 64, 0.92);
}

.ia-weather-forecast-five-snapshot-temperature--max {
    line-height    : 22px;
    margin-top     : 6px;
    color          : rgb(255, 255, 255);
    font-size      : 1.44em;
    letter-spacing : -0.01em;
}

.ia-weather-forecast-five-snapshot-temperature {
    width : 75px;
}

.ia-weather-forecast-five-snapshot-temperature--max .ia-weather-temperature--unit {
    top       : -6px;
    color     : rgb(255, 255, 255);
    font-size : 0.65em;
    position  : relative;
}

.ia-weather-forecast-five-snapshot-pictogram {
    width : 32px;
}

.ia-weather-forecast-five-snapshot-temperature {
    text-align : right;
}

.ia-weather-forecast-five-snapshot-temperature--min {
    line-height : 20px;
    font-size   : 1.15em;
    color       : rgba(255, 255, 255, 0.8);
}

.ia-weather-forecast-five-snapshot-temperature--min .ia-weather-temperature--unit {
    display : none;
}

.ia-weather-forecast-five-container {
    display : block;
}

#ia-weather-forecast-nav--right,
#ia-weather-forecast-nav--left {
    display : none;
}

#ia-weather-forecast-nav--right {
    right : 0;
}

.ia-weather-forecast-five--mobile, .ia-weather--mobile--temperature {
    display : none;
}

@media (max-width : 1600px) {
    .ia-weather-forecast-container--5 {
        display : none;
    }
}

/* Tablet */
@media (max-width : 1000px) {
    #ia-weather {
        height        : 170px;
    }

    .ia-weather-localisation {
        padding-right : 30px;
        margin-top    : 0;
    }

    .ia-weather-pic--main {
        -webkit-transform : scale(0.65);
        -moz-transform    : scale(0.65);
        -ms-transform     : scale(0.65);
        -o-transform      : scale(0.65);
        transform         : scale(0.65);
        margin            : -26px 15px 0 13px;
    }

    .ia-weather-forecast-five--mobile {
        display : table;
        width   : 60%;
        height  : 170px;
    }

    .ia-weather-date-day {
        margin-bottom : 2px;
    }

    .ia-weather-column-meta {
        display       : inline-block;
        width         : 120px;
        margin-left   : -5px;
        margin-bottom : 10px;
    }

    .ia-weather-column-temp {
        display : none;
    }

    .ia-weather-current {
        height        : 130px;
        width         : 40%;
        padding-right : 10px;
        margin-left   : 0;
        padding-top   : 18px;
    }

    .ia-weather-current-container, #ia-weather-forecast-five {
        height : auto;
    }

    .ia-weather-pic--snapshot {
        height  : 80px;
        display : inline-block;
    }

    .ia-weather-pic--forecast {
        margin : 20px auto 15px;
    }

    .ia-weather-forecast-five-container {
        display : none;
    }

    .ia-weather-forecast-five-snapshot-day--mobile {
        text-align : center;
        color      : rgba(255, 255, 255, 0.8);
        padding    : 8px 0;
    }

    .ia-weather-forecast-five-snapshot-day--mobile p {
        padding-right : 0;
    }

    .ia-weather--mobile--temperature {
        font-size  : 27px;
        display    : inline-block;
        position   : absolute;
        top        : 65px;
        left       : 0;
        width      : 114px;
        text-align : center;
    }

    .ia-weather-pressure, .ia-weather-humidity {
        display : none;
    }

    .ia-weather-rain {
        margin-top : -5px;
    }

    .ia-weather-wind, .ia-weather-rain {
        width : 100%;
    }

    .ia-weather--back-link-container {
        margin-left  : 230px;
        padding      : 13px 0 0 0;
        margin-right : -25px;
    }

    #ia-weather {
        height : 300px;
    }

    .ia-weather-pic--main {
        margin : -16px 15px 0 13px;
    }

    .ia-weather--mobile--temperature {
        top : 78px;
    }

    .ia-weather-column-meta {
        display     : inline-block;
        width       : -webkit-calc(100% - 111px);
        width       : -moz-calc(100% - 111px);
        width       : calc(100% - 111px);
        margin-top  : -20px;
        margin-left : 111px;
        max-height  : 40px;
        overflow    : hidden;
    }

    .ia-weather-column-meta--item {
        width     : 25%;
        display   : inline-block;
        min-width : 125px;
    }

    .ia-weather-current {
        width : 100%;
    }

    .ia-weather-localisation {
        margin-top : 9px;
    }

    .ia-weather-forecast-five--mobile {
        width : 100%;
    }

    .ia-weather--back-link-container {
        padding : 0 !important;
        margin  : -14px -2px 0 0;
        float   : right;
    }

    .ia-weather--back-link--container {
        padding-right : 2px !important;
    }
}

/* Mobile */
@media (max-width : 640px) {
    #ia-weather {
        height : 290px;
    }

    .ia-weather-current {
        height      : 145px;
        margin-left : 0;
        padding     : 10px 0 0 0;
    }

    .ia-weather--mobile--temperature {
        font-size : 25px;
        top       : 76px;
    }

    .ia-weather-localisation {
        font-size : 22px;
    }

    .ia-weather-column-meta {
        display    : block;
        width      : -webkit-calc(100% - 120px);
        width      : -moz-calc(100% - 120px);
        width      : calc(100% - 120px);
        margin-top : -9px;
        max-height : 62px;
        overflow   : hidden;
    }

    .ia-weather-column-meta--item--pic {
        -webkit-transform : scale(0.7);
        -moz-transform    : scale(0.7);
        -ms-transform     : scale(0.7);
        -o-transform      : scale(0.7);
        transform         : scale(0.7);
    }

    .ia-weather-column-meta--item--value {
        margin    : 0;
        font-size : 12px;
    }

    .ia-weather-column-meta--item:nth-of-type(3),
    .ia-weather-pressure, .ia-weather-humidity {
        display    : inline-block;
        margin-top : -7px;
    }

    .ia-weather-column-meta--item .ia-weather-rain{
        margin-top: -7px;
    }

    .ia-weather-column-meta--item {
        width : 40%;
    }

    .ia-weather-pressure, .ia-weather-rain {
        width : 60%;
    }

    .ia-weather--back-link-container {
        position   : absolute;
        bottom     : 4px;
        left       : auto;
        right      : 9px;
        text-align : center;
    }

    .ia-weather-forecast-five--mobile {
        height : 135px;
    }

    .ia-weather-pic--forecast {
        margin            : 0 auto 6px;
        -webkit-transform : scale(0.7);
        -moz-transform    : scale(0.7);
        -ms-transform     : scale(0.7);
        -o-transform      : scale(0.7);
        transform         : scale(0.7);
    }

    .ia-weather-forecast-five-snapshot-temperature--max {
        font-size : 15px;
    }

    .ia-weather-forecast-five-snapshot-temperature--min {
        line-height : 15px;
        font-size   : 13px;
    }

    .ia-weather-current-container, #ia-weather-forecast-five {
        margin       : 5px;
        width        : auto;
        background   : #FFF;
        box-shadow   : 0 3px 7px rgba(0, 0, 0, 0.04);
        border-color : rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.11);
        border-width : 1px;
        border-style : solid;
    }

}

/* hide some forcast days as the resolution reduces */
@media (max-width : 500px) {
    .ia-weather-forecast-five-snapshot-day--mobile:nth-child(5) {
        display : none;
    }
}

@media (max-width : 350px) {
    .ia-weather-forecast-five-snapshot-day--mobile:nth-child(4) {
        display : none;
    }
}

/* Web desktop */

.ia_container-web_desktop #ia-weather {
    height        : auto;
    margin-top    : -10px;
}

.ia_container-web_desktop .ia-weather-current-container {
    height : auto;
}

.ia_container-web_desktop .ia-weather-current {
    width       : 100%;
    margin-left : 0;
    height: 174px;
    float       : none;
    overflow    : hidden;
}

.ia_container-web_desktop .ia-weather-localisation {
    margin-top : 9px;
}

.ia_container-web_desktop .ia-weather-forecast-five--mobile {
    width : 100%;
}

.ia_container-web_desktop #ia-weather-forecast-five {
    width           : 100%;
    float           : none;
    overflow        : hidden;
    height          : 160px;
    background-size : 150% 100% !important;
}

.ia_container-web_desktop #ia-weather-forecast-five .ia-weather-forecast-container {
    width  : 140px !important;
    height : 148px;
}

.ia_container-web_desktop #ia-weather-temperature-chart {
    display : none;
}

.ia_container-web_desktop .ia-weather-forecast-temperature {
    margin-top : 10px;
}

.ia_container-web_desktop .ia-weather--back-link-container {
    position   : absolute;
    bottom     : 4px;
    left       : auto;
    right      : 9px;
    text-align : center;
}